<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a
      class="nav-link my-auto"
      routerLink="/rockets/list"
      routerLinkActive="active"
      ><img src="/assets/img/dogecoin.webp" class="logo" alt="image"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item my-auto">
          <a
            class="nav-link"
            routerLink="/rockets/list"
            routerLinkActive="active"
            >Rockets</a
          >
        </li>
        <li class="nav-item my-auto">
          <a
            class="nav-link"
            routerLink="/rockets/favorites"
            routerLinkActive="active"
            >Favorites</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
